html {
  scroll-behavior: smooth
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("content/main.gif");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("content/main2.gif");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("content/main3.gif");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.a1 {
  margin-right: 10px;
  margin-left: 10px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
  .bgimg-1 {
    background-position: left;
  }
}
